[Unit]
Description=SpamAssassin Milter Socket
Documentation=man:spamass-milter(1)
Before=spamass-milter.service

[Socket]
ListenStream=/var/spool/postfix/spamass/spamass.sock
SocketUser=spamass-milter
SocketGroup=postfix
SocketMode=0660

[Install]
WantedBy=sockets.target
